
body {
    margin: 0;
  }

.h1_titulo{
width: 100%;
-webkit-text-size-adjust: 100%;
font-family: system-ui;
margin: 0;
color: #243238;
letter-spacing: .05em;
text-transform: uppercase;
text-align: center!important;
font-size: 26px;
line-height: 30px;
background: linear-gradient(96.44deg,rgb(197, 213, 255),rgb(226, 240, 255) 51.56%,rgb(215, 212, 255));
padding: 20px 20px 0px;
}



.form1 {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.form1_buscador {
    width: 400px;
    height: 25px;
    position: relative;
    align-items: center;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid rgb(51, 153, 204);
    outline: none;
}

.form1_buscar {
    padding: 0.5em 1em;
    border: none;
    background: rgb(51, 153, 204);
    cursor: pointer;
    border-radius: 0px 5px 5px 0px;
  }



.header{
font-family: system-ui;
line-height: 1.5;
width: 100%;
align-items: center;
position: relative;
display: flex;
flex-direction: column;
margin: auto;
min-height: 60px;
background: linear-gradient(96.44deg,rgb(197, 213, 255),rgb(226, 240, 255) 51.56%,rgb(215, 212, 255));
z-index: 1;
padding: 40px 20px 20px;
}



ul{
list-style: none;
}

.nav li a{
background-color: rgb(23, 128, 160);
color: rgb(0, 0, 0);
text-decoration: none;
padding: 5px 10px;
display: block;
}

.nav > li {
    float: left;
}

.nav li a:hover{
background-color: #434343;
}

.nav li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover > ul{
    display: block;
}

.nav li ul li {
    position: relative;
}

.nav li ul li ul {
   right: -140px;
   top: 0px;
}
